@font-face {
    font-family: 'FreeMono';
    src: url('../fonts/FreeMono.ttf');
}

#container {
    -fx-border-color: -color-border;
    -fx-border-radius: 2px;
}

#controls {
    -fx-padding: 2px;
    -fx-background-color: -color-highlight-bg;
}

#controls .button {
    -fx-max-width: 14px;
    -fx-max-height: 14px;
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-background-size: cover;
}

#moveUp {
    -fx-background-image: url('../icons/arrow-up.png');
}

#moveDown {
    -fx-background-image: url('../icons/arrow-down.png');
}

#toggleCollapse {
    -fx-background-image: url('../icons/minimize.png');
}

#content {
    -fx-padding: 5px;
    -fx-font-family: "FreeMono";
    -fx-font-size: 18px;
    -fx-spacing: 5px;
}

.menu-item {
    -fx-font-family: unset;
    -fx-font-size: 12px;
}